<!-- <div class="users-setting d-flex cek">
    <div class="r-1">
        <div class="div mt-3">
            <p class="mt-0 h6 p-2">Setting</p>
        </div>
        <div class="div">
            <span class="p-2 active">Profile</span>
            <span name="2" class="p-2">Profile</span>
            <span name="3" class="p-2">Profile</span>
        </div>
    </div>
    <div class="r-2 p-3">
        <div class="container p-relative cek">
            <div class="set-profile p-absolute cek">
                
            </div>
        </div>
    </div>
</div> -->

<div class="container py-4 px-5 <%= session[:bg] %>">
    <p class="h5 pop-bold title m-0 my-3 <%=session[:font]%>">Profil Kamu</p>
    <hr>
    <div class="set-container d-flex">
        <div class="set-image w-100 align-self-center">
            <img src="<%="/users_images/#{@users.user_image}"%>" alt="profile" class="<%= session[:shadow] %>">
        </div>
        <div class="w-100 py-5 <%= session[:font] %>">
            <%= form_tag("/users/#{@users.id}/update", {multipart: true}) do %>
                <div class="mb-3">
                    <label for="image" class="form-label">Profil</label>
                    <input name="image" type="file" class="form-control <%= session[:shadow] %>" id="image">
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Nama</label>
                    <input name="name" type="text" class="form-control <%= session[:shadow] %>" id="name" value ="<%= @users.name %>">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" type="text" class="form-control <%= session[:shadow] %>" id="email" value ="<%= @users.email %>">
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Alamat Domisili</label>
                    <input name="address" type="text" class="form-control <%= session[:shadow] %>" id="address" value ="<%= @users.address %>">
                </div>

                <button type="submit" class="btn btn-primary <%= session[:shadow] %>">Update</button>
            <% end %>
        </div>
    </div>
</div>