<div class="container py-4 px-5 p-relative">
    <p class="h5 pop-bold title m-0 my-3 <%=session[:font]%>">Buat Akun</p>
    <hr>
    <div class="signup-view p-3">
        <%= form_tag("/create") do %>
            <div class="mb-3">
                <label for="name" class="form-label pop">Nama Lengkap</label>
                <input name="name" type="text" class="form-control pop" id="name" value="<%= @users.name %>">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label pop">Alamat Email</label>
                <input name="email" type="email" class="form-control pop" id="email" value="<%= @users.email %>">
            </div>
            <div class="mb-3">
                <label for="domisili" class="form-label pop">Alamat Domisili</label>
                <input name="address" type="text" class="form-control pop" id="domisili" value="<%= @users.address %>">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label pop">Password</label>
                <input name="password" type="password" class="form-control pop" id="password" value="<%= @users.password %>">
            </div>
            <div class="mb-3">
                <label for="cekpassword" class="form-label pop">Ulangi Password</label>
                <input name="cekpassword" type="password" class="form-control pop" id="cekpassword">
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
        <% end %>
    </div>
</div>